/**
 * CSS for Steakhouse Jara
 */
/* Variables
=====================================*/
/* Mixins
=====================================*/
/* FONT FACE
=====================================*/
@font-face {
  font-family: "Jara";
  src: url("/css/font/jara2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jara";
  src: url("/css/font/jara1.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}
/* Styling the components
=====================================*/
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jara", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  height: 100%;
  color: #555;
}

body > .wrap {
  height: auto;
  min-height: 100%;
}

h1 {
  color: #500000;
  font-size: 4.5em;
  font-family: "Jara", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: normal;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
  margin: 10px 0 30px 0;
}
h1 span {
  display: block;
  font-size: 0.25em;
  text-shadow: none;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #500000;
}
a:hover {
  text-decoration: underline;
}

h2 {
  color: #500000;
}

p {
  font-size: 1.25em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 5px;
}

span {
  color: #888;
}

.sizer {
  margin: 0 auto;
  max-width: 85em;
  padding: 0 7%;
  position: relative;
  zoom: 1;
}
.sizer:before, .sizer:after {
  display: table;
  content: " ";
  zoom: 1;
}
.sizer:after {
  clear: both;
}

.container {
  display: block;
  width: 100%;
  overflow: hidden;
}
.container .sizer {
  display: block;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  position: fixed;
  color: white;
  display: block;
  width: 100%;
  height: 70px;
  overflow: hidden;
  z-index: 500;
}
.header .logo {
  display: block;
  float: left;
  width: 200px;
  padding: 0 25px 0 25px;
}
.header ul {
  display: block;
  text-align: right;
}
.header li {
  text-align: right;
  vertical-align: baseline;
  display: inline-block;
}
.header li a {
  color: white;
  display: inline-block;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  padding: 25px;
  text-shadow: 1px 1px 1px #400000;
  text-decoration: none;
}
.header li a.active, .header li a:hover {
  color: white;
  background-color: #500000;
  text-shadow: 1px 1px 1px #400000;
  text-decoration: none;
}
.header li a:active {
  color: #500000;
  background-color: white;
  text-shadow: 1px 1px 1px #fff;
  text-decoration: none;
}
.header .logo:hover {
  background-color: #500000;
}
.header .logo:active {
  background-color: white;
}

.welcome {
  background: white;
  width: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("/img/1920/welcome2.jpg");
  visibility: hidden;
  position: relative;
  height: 100%;
}
.welcome a {
  margin-top: 50px;
}
.welcome .facebook {
  position: absolute;
  bottom: 20px;
  right: 7%;
  opacity: 0.4;
}
.welcome .facebook:hover {
  opacity: 1;
}

/*
        background-position: top center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('https://dl-web.dropbox.com/get/Jara/cow2.jpg?w=AAAoQ800zBF5yIISGNIILfs0D9RzgK_JK6wMazQRNUc8sg');
    */
/*
background: url(https://dl-web.dropbox.com/get/Jara/cow2.jpg?w=AAAoQ800zBF5yIISGNIILfs0D9RzgK_JK6wMazQRNUc8sg) top center repeat fixed;
*/
.parallax {
  height: 600px;
  background: red;
  background-color: white;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: fixed;
}
.parallax.p2 {
  background: white url(/img/1920/welcome3.jpg) top center no-repeat fixed;
}
.parallax.p1 {
  background: white url(/img/1920/salad.jpg) top center no-repeat fixed;
}
.parallax.p3 {
  background: white url(/img/1920/terrace1.jpg) top center no-repeat fixed;
}

.content {
  height: auto;
  padding: 40px 0 60px 0;
}
.content.menu {
  height: auto;
  padding-bottom: 0px;
}
.content.menu ul {
  margin-bottom: 40px;
}
.content.menu ul.steak1 {
  margin-bottom: 20px;
}
.content.menu li {
  text-align: center;
  font-size: 1.25em;
}
.content.menu li span {
  display: block;
  font-size: 0.8em;
}
.content.menu h2 {
  text-align: center;
}
.content.menu h3 {
  text-align: center;
}
.content.menu .col {
  float: left;
  width: 50%;
}
.content.menu .col.choice strong {
  display: block;
  padding: 15px 0 15px 0;
}
.content.menu .col hr {
  margin: 0 20% 0 20%;
  color: #500000;
  background-color: #500000;
  border: 0;
  height: 1px;
}
.content.menu p {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}
.content.menu p.steak1 {
  margin-bottom: 40px;
}
.content.menu p.days {
  font-size: 0.8em;
}
.content.steaks img {
  float: left;
  margin-right: 50px;
  width: 30%;
}
.content.steaks .textblock {
  float: left;
  display: block;
  width: 60%;
}
.content.photos {
  height: auto;
}
.content.contact {
  padding-bottom: 120px;
}
.content.contact .address {
  float: left;
  margin-right: 50px;
}
.content.contact .hours {
  float: left;
}
.content.contact .map {
  float: right;
  padding-top: 25px;
}
.content.contact img {
  -moz-box-shadow: 0px 0px 10px #bbb;
  -webkit-box-shadow: 0px 0px 10px #bbb;
  box-shadow: 0px 0px 10px #bbb;
}

.content-down {
  width: 100%;
  background-color: white;
}

.box {
  background: transparent;
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
}

.centered {
  padding-top: 60px;
  background: transparent;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.whitened {
  max-width: 600px;
  margin: 0 auto 0 auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.arrow, .arrow-full {
  background-image: url("../img/arrow.png");
  display: block;
  height: 33px;
  margin: 0 auto;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 72px;
}

.arrow-full {
  height: 60px;
  width: 60px;
  background-image: url("../img/arrow-big.png");
}

.arrow-down {
  background-image: url("../img/arrow.png");
  cursor: pointer;
  display: block;
  height: 33px;
  margin: 0 auto;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 72px;
}

.slides {
  position: relative;
}
.slides .slides_container {
  width: 960px;
  height: 637px;
  margin: 0 auto 0 auto;
  margin-bottom: 30px;
  -moz-box-shadow: 0px 0px 10px #bbb;
  -webkit-box-shadow: 0px 0px 10px #bbb;
  box-shadow: 0px 0px 10px #bbb;
}
.slides .slides_container div {
  width: 960px;
  height: 637px;
  display: block;
}
.slides .control {
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: white;
  text-align: center;
  background: #ccc;
  border: 3px solid #ccc;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 6;
  text-decoration: none;
}
.slides .control:hover {
  background-color: #500000;
  opacity: 1;
  border-color: #500000;
}
.slides .control.prev {
  left: 25px;
}
.slides .control.next {
  right: 25px;
}

.var1 {
  background-image: url("/img/1920/welcome1.jpg");
}

.var2 {
  background-image: url("/img/1920/welcome2.jpg");
}

.var3 {
  background-image: url("/img/1920/welcome1.jpg");
}

.var4 {
  background-image: url("/img/1920/welcome4.jpg");
}

/*# sourceMappingURL=style.css.map */
