/**
 * CSS for Steakhouse Jara
 */

/* Variables
=====================================*/
$color-red: rgb(80, 0, 0);
$font-family: "Jara", "HelveticaNeue-Light","Helvetica Neue Light",Helvetica,Arial,sans-serif;


/* Mixins
=====================================*/
@mixin clearfix{
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "\0020";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}


/* FONT FACE
=====================================*/
@font-face {
  font-family: 'Jara';
  src: url('/css/font/jara3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Styling the components
=====================================*/
html{
  height:100%;
}

body{
  margin:0;
  padding: 0;
  font-family: $font-family;
  height:100%;
}

body>.wrap {
  height: auto;
  min-height: 100%;
}

h1{
  color:$color-red;
  font-size:4.5em;
  font-family:$font-family;
  line-height: 1.1;
  font-weight: normal;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
  margin:10px 0 30px 0;
  //text-shadow: 1px 1px rgb(100, 0, 0);

  span{
    display: block;
    font-size: 0.3em;
    text-shadow: none;
    color:#333;
    font-weight: normal;
  }
}

h2{
  color:$color-red;
}

p{
  font-size: 1.25em;
}

.sizer{
  margin: 0 auto;
  max-width: 90em;
  padding: 0 7%;
  @include clearfix;
}

.container{
  display: block;
  width: 100%;
  overflow: hidden;

  .sizer{
    display: block;
    height: 100%;
    margin: 0 auto;
    //width: 100%; //evil width
    overflow: hidden;
  }
}

.header{
  position: fixed;
  //background-color:rgba(60,0,0,0.20);
  color:white;
  display: block;
  width: 100%;
  height: 70px;
  overflow: hidden;
  z-index:5;

  .logo{
    display: block;
    float:left;
    width: 200px;
    //background-color: $color-red;
    padding:0 25px 0 25px;
  }

  ul{
    display: block;
    list-style-type: none;
    text-align: right;
    margin:0;
    padding:0;
  }

  li{
    text-align: right;
    vertical-align: baseline;
    display: inline-block;

    a{
      color: white;
      display: inline-block;
      height:20px;
      font-size: 20px;
      font-weight: bold;
      font-family: "HelveticaNeue-Light","Helvetica Neue Light",Helvetica,Arial,sans-serif;
      padding:25px;
      text-decoration: none;
      text-shadow:1px 1px 5px #500000;
    }
  }

  a{
    &.active,
    &:hover{
      color:white;
      background-color: $color-red;
      text-shadow: none;
    }

    &:active{
      color:$color-red;
      background-color: white;
      text-shadow: none;
    }
  }
}

.welcome{
  //position:fixed;
  //z-index:-2;
  background:white;
  width:100%;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('/img/1920/welcome2.jpg');
  visibility:hidden;

  //min-height: 700px;
  //height:auto !important;
  //height: 700px;
  height:100%;

  &.var1{background-image: url('/img/1920/welcome2.jpg');}
  &.var2{background-image: url('/img/1920/welcome3.jpg');}

  a{
    margin-top: 50px;
  }
}

.parallax{
  height:600px;
  background: red;
  /*
          background-position: top center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-image: url('https://dl-web.dropbox.com/get/Jara/cow2.jpg?w=AAAoQ800zBF5yIISGNIILfs0D9RzgK_JK6wMazQRNUc8sg');
      */
  /*
  background: url(https://dl-web.dropbox.com/get/Jara/cow2.jpg?w=AAAoQ800zBF5yIISGNIILfs0D9RzgK_JK6wMazQRNUc8sg) top center repeat fixed;
  */
  background-color: white;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: fixed;

  &.p1{background:white url(/img/1920/steak2.jpg) top center no-repeat fixed;}
  &.p2{background:white url(/img/1920/cow2.jpg) top center no-repeat fixed;}
  &.p3{background:white url(/img/1920/terrace1.jpg) top center no-repeat fixed;}
}

.content{
  height:550px;
}

.content-down{
  width: 100%;
  background-color: white;
}

.box{
  //padding-top: 120px;
  //padding-bottom: 100px;
  background: transparent;
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
}

.centered{
  padding-top: 60px;
  background: transparent;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.whitened{
  max-width: 600px;
  margin:0 auto 0 auto;
  padding:50px;
  background-color: rgba(255, 255, 255, 0.9);

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}


.arrow{
  background-image: url("../img/arrow.png");
  display: block;
  height: 33px;
  margin: 0 auto;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 72px;
}

.arrow-full{
  @extend .arrow;
  height: 60px;
  width: 60px;
  background-image: url("../img/arrow-big.png");
}


.arrow-down {
  background-image: url("../img/arrow.png");
  cursor: pointer;
  display: block;
  height: 33px;
  margin: 0 auto;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 72px;
}
