#######################
### Python
#######################
*.py[co]
*.pyc

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
bin
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt


#######################
### IDE s
#######################
# PyCharm settings
.idea/
.idea/*


#######################
### Sass
#######################
.sass-cache/
.build




