/**
 * CSS for Steakhouse Jara
 */

/* Variables
=====================================*/
$color-red: rgb(80, 0, 0);
$font-family: "Jara","HelveticaNeue-Light","Helvetica Neue Light",Helvetica,Arial,sans-serif;


/* Mixins
=====================================*/
@mixin clearfix{
  zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "\0020";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}


/* FONT FACE
=====================================*/
@font-face {
  font-family: 'Jara';
  src: url('font/jara3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* Styling the components
=====================================*/
body{
  margin:0;
  padding: 0;
  font-family: $font-family;
}

h1{
  color:$color-red;
  font-size:4.5em;
  text-shadow: 1px 1px rgb(100, 0, 0);

  span{
    display: block;
    font-size: 0.3em;
    text-shadow: none;
    color:#333;
    font-weight: normal;
  }
}

h2{
  color:$color-red;
}

p{
  font-size: 1.25em;
}

em{
  text-decoration: italic;
}

.sizer{
  padding-top: .25em;
  padding: 0 4%;
  margin: 0 auto;
  max-width: 100em;
  padding: 0 7%;
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;

  @include clearfix;
}

.container{
  z-index: 0;
}

.header{
  position: fixed;
  background-color:rgba(100,0,0,0.80);
  color:white;
  display: block;
  width: 100%;
  height: 70px;
  overflow: hidden;
  z-index:5;

  .logo{
    display: block;
    float:left;
    width: 200px;
  }

  ul{
    display: block;
    list-style-type: none;
    text-align: right;
    margin:0;
    padding:0;
  }

  li{
    text-align: right;
    vertical-align: baseline;
    display: inline-block;

    a{
      color: white;
      display: inline-block;
      height:20px;
      font-size: 16px;
      font-weight: bold;
      font-family: "HelveticaNeue-Light","Helvetica Neue Light",Helvetica,Arial,sans-serif;
      padding:25px;
      text-decoration: none;

      &:hover{
        color:$color-red;
        background-color: white;
      }

      &:active{
        color:white;
        background-color: $color-red;
      }
    }
  }
}

.welcome{
  //position:fixed;
  //z-index:-2;
  background:white;
  width:100%;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('/img/1920/welcome2.jpg');
}

.intro{
  min-height: 700px;
  height:auto !important;
  height: 700px;
}

.parallax{
  height:600px;
  background: red;
  /*
          background-position: top center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-image: url('https://dl-web.dropbox.com/get/Jara/cow2.jpg?w=AAAoQ800zBF5yIISGNIILfs0D9RzgK_JK6wMazQRNUc8sg');
      */
  /*
  background: url(https://dl-web.dropbox.com/get/Jara/cow2.jpg?w=AAAoQ800zBF5yIISGNIILfs0D9RzgK_JK6wMazQRNUc8sg) top center repeat fixed;
  */
  background-color: white;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: fixed;

  &.p1{background:white url(/img/1920/steak2.jpg) top center no-repeat fixed;}
  &.p2{background:white url(/img/1920/cow2.jpg) top center no-repeat fixed;}
  &.p3{background:white url(/img/1920/terrace1.jpg) top center no-repeat fixed;}
}

.content{
  height:550px;
  display: block;
  background: white;
}

.box{
  padding-top: 110px;
  padding-bottom: 150px;
  background: transparent;
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
}

.centered{
  background: transparent;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.whitened{
  width: 600px;
  margin:0 auto 0 auto;
  padding:50px;
  background-color: rgba(255, 255, 255, 0.9);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.arrow{
  background-image: url("../img/arrow.png");
  display: block;
  height: 33px;
  margin: 0 auto;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 72px;
}

.arrow-full{
  @extend .arrow;
  height: 60px;
  width: 60px;
  background-image: url("../img/arrow-big.png");
}


.page-homepage .section-arrow {
  background-image: url("../i/home/arrow.png");
  cursor: pointer;
  display: block;
  height: 33px;
  margin: 0 auto;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 72px;
}
